.bg-jb-one {
    background-color: #ADD8E6;
}
.bg-jb-two {
    background-color: #e7b07b96;
}
.bg-jb-three {
    background-color: #e7a281ee;
}
.bg-jb-four {
    background-color: #99A799;
}
.bg-jb-green {
    background-color: #40bd63;
}
.bg-jb-gold {
    background-color: #E3D18A;
}
.bg-jb-darkGold {
    background-color: #e6cc6a;
}
