.bg-jb-one {
    background-color: #ADD8E6;
}
.bg-jb-two {
    background-color: #e7b07b96;
}
.bg-jb-three {
    background-color: #e7a281ee;
}
.bg-jb-blue {
    background-color: #A6B1E1; 
}
.bg-jb-green {
    background-color: #a6ca7c;
}
.bg-jb-brown {
    background-color: #E7D4B5;
}
.bg-jb-fernGreen {
    background-color: #99A799;
}
.bg-jb-gold {
    background-color: #E3D18A;
}

/* CUSTOM FONTS */

:root{
    --pst-header-height: 40px;
    /* heading font sizes */
    --pst-font-size-h1: 34px;
    --pst-font-size-h2: 32px;

    --pst-font-family-base: Segoe UI Emoji;
    --pst-font-family-heading: 'Inter', sans-serif;
    --pst-font-family-monospace: var(--pst-font-family-monospace-system);

}
