
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.sidebar,
aside.sidebar {
    margin: 0 0 0.5em 1em;
    border-style: none;
    padding: 7px;
    /*background-color: white;*/
    width: 100%;
    float: right;
    clear: both;
    overflow-x: clip;
}

p.sidebar-title {
    font-weight: bold;
}

div.admonition, div.topic, blockquote {
    clear: left;
}