.bg-jb-one {
    background-color: #ADD8E6;
}
.bg-jb-two {
    background-color: #e7b07b96;
}
.bg-jb-three {
    background-color: #e7a281ee;
}
.bg-jb-blue {
    background-color: #A6B1E1; 
}
.bg-jb-green {
    background-color: #a6ca7c;
}
.bg-jb-brown {
    background-color: #E7D4B5;
}
.bg-jb-fernGreen {
    background-color: #99A799;
}
.bg-jb-gold {
    background-color: #E3D18A;
}
.bg-jb-darkGold {
    background-color: #e6cc6a;
}
